.bg-red {
  background: #B71C1C;
}

.bg-grey {
  background: #455A64;
}

.list-group-item-action.bg-grey:hover {
  background: #607D8B;
}

#main-content {
  width: 100%;
}

@media (min-width: 991.98px) {
}

/* Sidebar */

.sidebar {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  height: 100vh;
}


.sidebar-open {
  width: 240px;
  padding-left: 20px;
  padding-right: 20px;
  transition: width 0.5s ease, padding-left 0.5s ease, padding-right 0.5s ease;
}

.sidebar-open .sidebar-span {
  display: inline;
}

.sidebar-close {
  width: 60px;
  padding-left: 5px;
  padding-right: 5px;
  transition: width 0.5s ease, padding-left 0.5s ease, padding-right 0.5s ease;
}

.sidebar-close .sidebar-span {
  display: none;
}

.sidebar-open .list-group-item{
  transition-duration: 1s;
  transition-property: padding;
}


@media (max-width: 991.98px) {
  .sidebar-open{
    width: 50%;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
  }
  .sidebar-close{
    width: 30px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .sidebar-close .list-group-item{
    padding: 0.2em 0.2em; 
    transition-duration: 1s;
    transition-property: padding;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

