{% extends "base/base.html" %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="text-center mt-5">
            <h1 class="display-2">SIAB</h1>
            <h2 class="display-5">Sistema Integral de Administración Bomberil</h2>
        </div>
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body">
                <h2 class="text-center">Login</h2>
                {% if error %}
                    <div class="alert alert-warning" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input id="username" name="username" class="form-control" type="text" placeholder="Enter your username">
                </div>
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input id="password" name="password" class="form-control" type="password" placeholder="Enter your password">
                </div>

                <button class="btn btn-secondary">Login</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}

