{% extends "base/base.html" %}
{% block content %}
    <h1 class="display-1">Backoffice</h1>
    <a class="btn btn-primary" href="{% url "create_user" %}">Create User</a>
    <a class="btn btn-primary" href="{% url "profile" id=0 %}">Create Profile</a>
    <a class="btn btn-primary" href="{% url "profiles_list" %}">Profiles List</a>
{% endblock %}
