{% extends "base/base.html" %}
{% block content %}
    <h1 class="display-1">Create User</h1>
    <div class="card">
        <div class="card-body">
            <form class="row">
              <div class="mb-3 col-md-4">
                <label for="user" class="form-label">User</label>
                <input type="text" class="form-control" id="user" aria-describedby="userHelp">
                <div id="userHelp" class="form-text">Usuario para ingreso al sistema</div>
              </div>
              <div class="mb-3 col-md-4">
                <label for="password1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password1">
              </div>
              <div class="mb-3 col-md-4">
                <label for="password2" class="form-label">Repeat Password</label>
                <input type="password" class="form-control" id="password2">
              </div>
              <div class="mb-3 col-md-4">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name">
              </div>
              <div class="mb-3 col-md-4">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name">
              </div>
              <div class="mb-3 col-md-4">
                <label for="profile" class="form-label">Profile</label>
                <select id="porfile_select" class="form-select" name="profile">
                  {% for profile in profiles %}
                    <option value="{{ profile.id }}">{{ profile.document_number }} - {{ profile.last_name }} {{ profile.first_name }}</option>
                  {% endfor %}
                </select>
              </div>

              <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
{% endblock %}
