{% extends "base/base.html" %}
{% block content %}
    <h1 class="display-1">{% if profile %}Update {{ profile }}{% else %}Create Profile{% endif %}</h1>
    <div class="card">
        <div class="card-body">
            <form class="row needs-validation" novalidate method="POST">
              {% csrf_token %}
              <div id="profile_form" class="row">
              <div class="mb-3 col-md-6">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" name="first_name" value="{{profile.first_name}}" required>
              </div>
              <div class="mb-3 col-md-6">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="last_name" value="{{profile.last_name}}" required>
              </div>
              <div class="mb-3 col-md-6">
                <label for="document_type" class="form-label">Document Type</label>
                <select id="document_type_select" class="form-select" name="document_type" required>
                  {% for document_type in document_types %}
                    <option value="{{ document_type.0 }}" {% if profile.document_type == document_type.0 %}selected{% endif %}>{{ document_type.1 }}</option>
                  {% endfor %}
                </select>

              </div>
              <div class="mb-3 col-md-6">
                <label for="document_number" class="form-label">Document Number</label>
                <input type="text" class="form-control" name="document_number" value="{{profile.document_number}}" required>
              </div>
              <div class="mb-3 col-md-4">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" name="phone" value="{{profile.phone}}" required>
              </div>
              <div class="mb-3 col-md-4">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" name="address" value="{{profile.address}}">
              </div>
              <div class="mb-3 col-md-4">
                <label for="birth_date" class="form-label">Birth Date</label>
                <input type="date" class="form-control" name="birth_date" value="{{profile.birth_date|date:"Y-m-d"}}" required>
              </div>
              <div class="mb-3 col-md-6">
                <label for="image" class="form-label">Image</label>
                <input type="file" class="form-control" name="image">
              </div>

              <div class="mb-3 col-md-6">
                <label for="user" class="form-label">User</label>
                <select id="user_select" class="form-select" name="user" {% if profile %}disabled{% endif %}>
                  {% if users %}
                    <option value="-1">Select...</option>
                    {% for user in users %}
                      <option value="{{ user.id }}">{{ user.username }} - {{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
                  {% else %}
                  <option value="-1">{{ profile.user }}</option>
                  {% endif %}
                </select>
              </div>
              <div class="card col m-2">
              <fieldset class="row mb-3 col-md-6">
                <legend class="col-form-label col-md-2 pt-0">Profile Type</legend>
                <div class="col-md-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="profile_type" id="is_civil" value="civil" checked>
                    <label class="form-check-label" for="is_civil">
                      Is civil
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="profile_type" id="is_firefighter" value="firefighter" {% if firefighter %}checked{% endif %}>
                    <label class="form-check-label" for="is_firefighter">
                      Is Firefighter
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="profile_type" id="is_board_member" value="board_member"{% if board_member %}checked{% endif %}>
                    <label class="form-check-label" for="is_board_member">
                      Is Board Member
                    </label>
                  </div>
                </div>
              </fieldset>
              </div>
              </div>
              <div id="firefighter_form" class="row" {% if not firefighter %}style="display: none;"{% endif %}>
                <h3>Firefighter</h3>
                <div class="mb-3 col-md-6">
                  <label for="firefighter_rank" class="form-label">Rank</label>
                  <input type="text" class="form-control" name="firefighter_rank" value="{{firefighter.rank}}">
                </div>
                <div class="mb-3 col-md-6">
                  <label for="firefighter_code" class="form-label">Code</label>
                  <input type="text" class="form-control" name="firefighter_code" value="{{firefighter.code}}">
                </div>
                <div class="mb-3 col-md-6">
                    <label for="firefighter_call_code" class="form-label">Call Code</label>
                    <input type="text" class="form-control" name="firefighter_call_code" value="{{firefighter.call_code}}">
                </div>
                <div class="mb-3 col-md-4">
                  <label for="firefighter_entry_date" class="form-label">Entry Date</label>
                  <input type="date" class="form-control" name="firefighter_entry_date" value="{{firefighter.entry_date|date:"Y-m-d"}}">
                </div>
                <div class="mb-3 col-md-4">
                  <label for="firefighter_leaving_date" class="form-label">Leaving Date</label>
                  <input type="date" class="form-control" name="firefighter_leaving_date" value="{{firefighter.leaving_date|date:"Y-m-d"}}">
                </div>
              </div>
              <div id="board_member_form" class="row" {% if not board_member %}style="display: none;"{% endif %}>
                <h3>Board Member</h3>
                <div class="mb-3 col-md-6">
                  <label for="board_member_position" class="form-label">Position</label>
                  <input type="text" class="form-control" name="board_member_position" value="{{board_member.position}}">
                </div>
                <div class="mb-3 col-md-4">
                  <label for="board_member_entry_date" class="form-label">Entry Date</label>
                  <input type="date" class="form-control" name="board_member_entry_date" value="{{board_member.entry_date|date:"Y-m-d"}}">
                </div>
                <div class="mb-3 col-md-4">
                  <label for="board_member_leaving_date" class="form-label">Leaving Date</label>
                  <input type="date" class="form-control" name="board_member_leaving_date" value="{{board_member.leaving_date|date:"Y-m-d"}}">
                </div>
              </div>

              <button type="submit" class="btn btn-primary">{% if profile %} Update {% else %} Create {% endif %}</button>
            </form>
        </div>
    </div>
    <script>
      const profileTypeClick = () => {
        const is_firefighter = $('#is_firefighter');
        const is_board_member = $('#is_board_member');
        if(is_firefighter.is(':checked')){
          $('#firefighter_form').show(500);
          $('#board_member_form').hide(500);
        }else if(is_board_member.is(':checked')){
          $('#board_member_form').show(500);
          $('#firefighter_form').hide(500);
        }else{
          $('#board_member_form').hide(500);
          $('#firefighter_form').hide(500);
        }
      }
      $( document ).ready( () => {
        $('input[name="profile_type"]').on('click', profileTypeClick);
        setValidationForm()
      })
    </script>
{% endblock %}
