{% extends "base/base.html" %}
{% block content %}
    <h1 class="display-1">Profiles</h1>
    <a class="btn btn-primary" href="{% url "profile" '0' %}">Create Profile</a>
    <table class="table table-striped">
        <tr>
            <th>id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
        {% for profile in profiles %}
        <tr>
            <td>{{ profile.id }}</td>
            <td>{{ profile.first_name }}</td>
            <td>{{ profile.last_name }}</td>
            <td><a class="btn btn-primary" href="{% url "profile" profile.id %}"><i class="fa fa-pencil"></i></a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
