{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIAB - Sitema Integral de Administración Bomberil</title>
    <script src="{% static 'jquery/jquery.min.js' %}"></script> 
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.bundle.min.js' %}"> -->
    <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.min.js' %}"></script> 
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/base.js' %}"></script> 
</head>
<body>
    <header>
      <!-- Navebar -->
        <nav class="navbar navbar-expand-lg bg-red navbar-dark p-3 sticky-top ">
            {% if user.is_authenticated %}
            <!-- Toggle button -->
            <button id="sidebar-toggler" class="btn" type="button" aria-label="Toggle navigation" >
              <i class="navbar-toggler-icon"></i>
            </button>
            {% endif %}
            <a class="navbar-brand" href="{% url "home" %}">SIAB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url "home" %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url "logout" %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url "login" %}">Login</a></li>
                {% endif %}

              </ul>
            </div>
        </nav>
  <!-- Navebar -->
    </header>

    <main id="main" {% if user.is_authenticated %}class="d-flex"{% endif %}>
      {% if user.is_authenticated %}
      <!-- Sidebar -->
      <nav id="sidebarMenu" class="sidebar sticky-top bg-grey sidebar-close">
        <div class="list-group list-group-flush mt-4">
          <a
            href="{% url "home" %}"
            class="list-group-item list-group-item-action bg-grey text-white ripple"
            aria-current="true"
            title="Main dashboard"
          >
            <i class="fa-solid fa-gauge-high"></i><span class="sidebar-span ms-3">Main dashboard</span>
          </a>
        {% if user.is_superuser %}
            <a href="{% url "backoffice" %}" class="list-group-item list-group-item-action bg-grey list-group-dark text-white ripple" title="Backoffice">
              <i class="fa-solid fa-users-cog"></i><span class="sidebar-span ms-3">Backoffice</span>
            </a>
        {% endif %}
          <a href="{% url "logout" %}" class="list-group-item list-group-item-action bg-grey list-group-dark text-white ripple" title="Logout">
            <i class="fa-solid fa-power-off"></i><span class="sidebar-span ms-3">Logout</span>
          </a>
        </div>
      </nav>
      <!-- Sidebar -->
      {% endif %}

   <div id="main-content" class="p-3">
       {% block content %}
       {% endblock %}
   </div> 

    </main>
</body>
</html>
